@model IEnumerable<BusinessObjects.Tag>
@{
    var session = Context.Session.GetInt32("USERID");
}
@if (session != null)
{
@foreach (var tag in Model)
{
    <a asp-controller="NewsArticles"
       asp-action="ByTag"
       asp-route-id="@tag.TagId">
        #@tag.TagName
    </a>
}
}
