<h2>Admin Dashboard</h2>
<hr />

<ul>
    <li>
        <a asp-controller="Account" asp-action="Index"
           class="btn btn-outline-primary">
            Manage Account
        </a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="Report">
            Report
        </a>
    </li>
</ul>
